#channel-header {
  position: fixed;
  width: 90%;
  left: 50%;
  top: 2%;
  margin-left: -45%;
  font-size: 3rem;
  color: rgba(240, 240, 240, 0.8);
  z-index: 10;
}

.exit-channel {
  float: right;
  color: rgba(240, 240, 240, 0.8);
}


.playlist-menu {
  float: left;
}

.next-song {
  position: fixed;
  right: 5.5%;
  top: 48%;
}

/* react css transition group */
.channel-header-enter {
  opacity: 0.01;
}

.channel-header-enter.channel-header-enter-active {
  opacity: 1;
  transition: opacity 200ms ease-in;
}

.channel-header-leave {
  opacity: 1;
}

.channel-header-leave.channel-header-leave-active {
  opacity: 0.01;
  transition: opacity 200ms ease-in;
}
