.menu {
  background-image: linear-gradient(300deg, rgb(151, 66, 208), rgb(48, 141, 232));
  opacity: 0.9;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
}

.menu-container {
  width: 70%;
  margin: 0 auto;
}

/* react css transition group */
.menu-enter {
  background-image: linear-gradient(300deg, rgb(151, 66, 208), rgb(48, 141, 232));
  opacity: 0.01;
}

.menu-enter.menu-enter-active {
  background-image: linear-gradient(300deg, rgb(151, 66, 208), rgb(48, 141, 232));
  opacity: 0.9;
  transition: all 300ms ease-in;
}

.menu-leave {
  background-image: linear-gradient(300deg, rgb(151, 66, 208), rgb(48, 141, 232));
  opacity: 0.9;
}

.menu-leave.menu-leave-active {
  background-image: linear-gradient(300deg, rgb(151, 66, 208), rgb(48, 141, 232));
  opacity: 0.01;
  transition: all 200ms ease-in;
}
