.menu {
  background: rgba(0, 0, 0, 0.85);
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
}

.menu-container {
  width: 50%;
  margin: 0 auto;
}

.menu-enter {
  background: rgba(0, 0, 0, 0);
}

.menu-enter.menu-enter-active {
  background: rgba(0, 0, 0, 0.85);
  transition: background 500ms ease-in;
}

.menu-leave {
  background: rgba(0, 0, 0, 0.85);
}

.menu-leave.menu-leave-active {
  background: rgba(0, 0, 0, 0);
  transition: background 300ms ease-in;
}
