.playlist-container table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 1rem;
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
}

th, td {
  text-align: left;
  color: rgba(240, 240, 240, 1);
  border-bottom: 1px solid rgba(240, 240, 240, 0.2);
  padding: 0 1rem .75rem 1rem;
}

/* lighten color for column descriptions and track # */
th, td:first-of-type {
  color: rgba(240, 240, 240, 0.7);
}

/* center the upvote value column */
table tr td:nth-child(5) {
  text-align: center;
}

.pointer {
  cursor: pointer;
}

.star-icon:hover:before {
  content: "\f005";
}

.trash-icon:hover:before {
  content: "\f1f8";
}

.now-playing {
  font-weight: bold;
}
