.social-icon {
  background-color: rgba(240, 240, 240, 0.3);
	color: #fff;
	width: 40px;
	height: 30px;
	font-size: 20px;
	margin-right: 10px;
	padding-top: 10px;
  border-radius: 20px;
  transition: all 400ms ease-in-out;
}

.social-icon:hover {
  background-color: rgba(240, 240, 240, 0.6);
}

.signout-container {
  text-align: center;
}

.signout-button {
  display: inline-block;
  background-color: rgba(240, 240, 240, 0.3);
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  transition: all 400ms ease-in-out;
}

.signout-button:hover {
  background-color: rgba(240, 240, 240, 0.6);
}
